@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav.visible {
        top: calc( 10vh + 10px );
    }

    /*Sticky header
    header {
        position: fixed;
        width: calc(100% - 20px);
        top: 0px;
    }
    */
}

